input {
    text-align: center;
}

#table-abw {
    border-collapse: collapse;
    font-size: xx-small;
}

.left {
    text-align: left;
}

header {
    position: fixed;
    width: 100%;
}

.logo {
    width: 30%;
    height: 30%;
}

.blur {
    filter: blur(5px);
    text-align: left;
}
